$emblem-top-color: #00b0ec;
$emblem-bottom-color: #005bac;

.is-vertical-paddingless {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.navbar {
	min-height: 0;
	height: calc(2.75rem + 1px);

	&.is-fixed-top {
		border-bottom: 1px solid $emblem-top-color;
	}

	&.is-fixed-bottom {
		border-top: 1px solid $emblem-bottom-color;
	}

	&.box {
		margin: 0;
	}

	& > .container {
		min-height: 0;
		height: 2.75rem;
	}
}

.container > .level {
	width: 100%;
	height: 100%;
}

.hero {
	&.is-fullheight {
		min-height: 0;
	}

	& .navbar {
		background-color: white;
	}
}

.hero-body {
	padding: 1rem;
}

.box {
	padding: 0.75rem 1rem;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}

.modal {
	z-index: 40;
}

.button.is-white.is-static.is-placeholder {
	background-color: white;
	border-color: transparent;
	color: #0a0a0a;
}
