@import '~bulma';
@import '~bulma-tooltip';

$emblem-top-color: #00b0ec;
$emblem-bottom-color: #005bac;

.is-horizontal-clipped {
	overflow-x: hidden !important;
}

.is-vertical-paddingless {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.navbar {
	min-height: 0;
	height: calc(2.75rem + 1px);

	&.is-fixed-top {
		border-bottom: 1px solid $emblem-top-color;
	}

	&.is-fixed-bottom {
		border-top: 1px solid $emblem-bottom-color;
	}

	& > .container {
		min-height: 0;
		height: 2.75rem;
	}
}

.container > .level {
	width: 100%;
	height: 100%;
}

.hero {
	&.is-fullheight {
		min-height: 0;
	}

	& .navbar {
		background-color: white;
	}
}

.hero-body {
	padding: 1rem;
}

.box {
	padding: 0.75rem 1rem;

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&.navbar {
		margin: 0;
	}
}

.modal {
	z-index: 40;
}

.modal-card-title {
	font-size: 1.25rem;
}

.modal-card-head,
.modal-card-body,
.modal-card-foot {
	padding: 1rem;
}

.modal-card-foot {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	.button {
		min-width: 40%;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.button.is-white.is-static.is-placeholder {
	background-color: white;
	border-color: transparent;
	color: #0a0a0a;
}

.button.is-starred {
	background-color: #fff;
	border-color: transparent;
	color: #ffb459;

	&:hover,
	&.is-hovered {
		background-color: #f9f9f9;
	}

	&:focus,
	&.is-focused {
		&:not(:active) {
			-webkit-box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
			box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
		}
	}

	&:active,
	&.is-active {
		background-color: #f2f2f2;
	}
}

.is-block .icon {
	vertical-align: top;
}

#ez-toast {
	top: auto;
	bottom: 15%;
	padding: 0.75rem 1.25rem;
	color: rgba(0, 0, 0, 0.7);
}

.imitate-thead {
	border-bottom: 1px solid #dbdbdb;
	order: -1;
}

.imitate-tfoot {
	border-top: 1px solid #dbdbdb;
	order: 1;
}

.imitate-td,
.imitate-th {
	border: 1px solid #dbdbdb;
	border-width: 0 0 1px;
	padding: 0.5em 0.75em;
	vertical-align: top;
}

.imitate-th {
	color: #363636;
	text-align: left;
	font-weight: bold;
	padding: 0 0.5em;

	.imitate-tfoot & {
		border: none;
	}
}

.lesson-hour {
	width: calc(80px + 6vw);
}

.lesson-time {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	border-bottom: 1px solid #dbdbdb;
}
