.is-vertical-paddingless {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.navbar {
	min-height: 0;
	height: calc(2.75rem + 1px);
}

.navbar.is-fixed-top {
	border-bottom: 1px solid #00b0ec;
}

.navbar.is-fixed-bottom {
	border-top: 1px solid #005bac;
}

.navbar > .container {
	min-height: 0;
	height: 2.75rem;
}

.container > .level {
	width: 100%;
	height: 100%;
}

.hero.is-fullheight {
	min-height: 0;
}

.hero .navbar {
	background-color: white;
}

.hero-body {
	padding: 1rem;
}

.box {
	padding: 0.75rem 1rem;
}

.box:not(:last-child) {
	margin-bottom: 0.5rem;
}

.navbar.box {
	margin: 0;
}

.modal {
	z-index: 40;
}

.button.is-white.is-static.is-placeholder {
	background-color: white;
	border-color: transparent;
	color: #0a0a0a;
}
